html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

li {
  list-style: none;
}

.btn {
  width: 196px;
  height: 47px;
  background-color: #cfc91d;
  font-size: 14px;
  font-weight: 800;
  line-height: 47px;
  letter-spacing: 2.1px;
  color: #0b1016;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #02918c;
  color: #f4efe9;
}

h2 {
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  color: #02918c;
  -webkit-text-decoration: underline dotted #cdcfd1;
          text-decoration: underline dotted #cdcfd1;
}

.section-title-text {
  font-size: 16px;
  line-height: 2.56;
  text-align: center;
  color: #7e8287;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 80px;
}

.item-title {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.44;
  color: #7e8287;
}

.item-text {
  font-size: 11px;
  line-height: 1.91;
  color: #7e8287;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 30px;
  color: #f0f0e8;
  border: 1px solid #7e8287;
  background-color: #7e8287;
  border-radius: 5%;
  padding: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.up:hover {
  color: #0f0f17;
  background-color: #817d78;
}